<h2>About Us</h2>
<body>
<p style='color: white;'>This is best webpage ever.
HAHAHAHAHAHA Jonathan likes men!!!!!!</p>
<div class="col-md-6">
            <div class="well">
                <h2 class="text-center">
                    Buyer Form
                </h2>
                <p class="text-center">You are one step away from getting what you have been looking for! Please fill in the following form!</p>
                <form>
  					Full Name:<br>
  					<input type="text" name="Full Name"><br>
 					
 					 Contact Information :<br>
 					 <input type="text" name="Contact Information"><br>
 					 
 					 Item that you are looking for :<br>
 					 <input type="text" name="Item that you are looking for"><br>
 					 
 					 Max Price :<br>
 					 <input type="text" name="Max Price"><br>
					
 					 Specification :<br>
 					 <textarea name="Specification" cols="40" rows="5"></textarea>
 					 
 					 <br><input type="submit" value="Submit"><br>
				</form>
            </div>
        </div>
</body>


