<div class="alert alert-success" role="alert">Your bid has been placed!</div>

<h1>Glad to know that you can sell it cheaper!</h1>

<br>
<div class="input-group" style="padding:5%; height: 50px;">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" style="height: 50px">
  <span class="input-group-addon">.00</span>
</div>
<br>

<div style="margin-left: 45%;"><button style="height: 50px" type="button" class="btn btn-primary">Place Bid</button></div>