<div class="col-md-6">
<div class="alert alert-success" role="alert"><i ><img src=https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png style="height:48px; margin-top:-13px"></i>Request Accepted</div>
<div>

<div class="well">
    <h2 class="text-center">
        Buyer Form
    </h2>
    <p class="text-center">You are one step away from getting what you have always wanted! Please fill in your request form!</p>
    <form>
        First and Last Name:<br>
        <input type="text" name="Full Name"><br>

         Email:<br>
         <input type="text" name="Contact Information"><br>

         What are you looking for? <br>
         <input type="text" name="Item that you are looking for"><br>

         Highest price you would pay:<br>
         <input type="text" name="Max Price"><br>

         Specifications:<br>
         <textarea name="Specification" cols="40" rows="5"></textarea>

         <br><%= link_to "Submit", "/buyer_1", class: 'btn btn-success'%><br>
    </form>
</div>
</div>
</div>

<div class="col-md-6">
<div class="well" style="margin-top: 87px">
    <h2 class="text-center">Offers</h2>
        <p class="text-center">Your list of current offers are listed here</p>
</div>
</div>