<div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Your Profile</h2>
                    <%= link_to "Edit your profile", class: 'btn btn-default btn-lg btn-block' %>
                    <%= link_to "View your profile", class: 'btn btn-default btn-lg btn-block' %>
                    <p>Create your profile so that you can share your information with the community.</p>
            </div>
        </div>

         <div class="col-md-6">
        <div>
            <div class="well">
                <h2 class="text-center">
                    Buyer Form
                </h2>
                <p class="text-center">You are one step away from getting what you have been looking for! Please fill in the following form!</p>
                <form>
                    Full Name:<br>
                    <input type="text" name="Full Name"><br>

                     Contact Information :<br>
                     <input type="text" name="Contact Information"><br>

                     Item that you are looking for :<br>
                     <input type="text" name="Item that you are looking for"><br>

                     Max Price :<br>
                     <input type="text" name="Max Price"><br>

                     Specification :<br>
                     <textarea name="Specification" cols="40" rows="5"></textarea>

                     <br><input type="submit" value="Submit"><br>
                </form>
            </div>
            </div>
        </div>