<div class="col-md-6">
<div>
<div class="well">
    <h2 class="text-center">
        Contact Us
    </h2>
    <p class="text-center">Please give us feedback so we can improve! Thanks!</p>
    <form>
        First and Last Name:<br>
        <input type="text" name="Full Name"><br>

         Email:<br>
         <input type="text" name="Contact Information"><br>

         Subject <br>
         <input type="text" name="Item that you are looking for"><br>

         Text<br>
         <textarea name="Specification" cols="40" rows="5"></textarea>

         <br><%= link_to "send", "/contact_1", class: 'btn btn-success'%><br>
    </form>
</div>
</div>
</div>

<div class="col-md-6">
