
<div class="col-md-6">
<div>
<div class="well">
    <h2 class="text-center">
        Contact Us
    </h2>
    <form>
        First and Last Name:<br>
        <input type="text" name="Full Name"><br>

         Email:<br>
         <input type="text" name="Contact Information"><br>

         Message:<br>
         <textarea name="Message" cols="40" rows="5"></textarea>

         <br><input type="submit" value="Submit"><br>
    </form>
</div>
</div>
</div>