<div class="row">
        <div class="col-md-6">
            <div class="well text-center">
                <h2>Consumer Membership</h2>
                <h4>Sign up to send buy requests to thousands of sellers</h4>
                </br>
                <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well text-center">
                <h2>Producer Membership</h2>
                <h4>Join and get direct and immediate access to buyers</h4>
                <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    <div class="jumbotron text-center">
    <h1>Welcome to Seeker</h1>
    <h3>Facilitating more efficiency between producers and consumers.</h3>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well text-center">
                    <h2>Buyer Account</h2>
                    <h4>Sign up to send buy requests to thousands of sellers</h4>
                    </br>
                    <%= link_to "Sign up as Buyer", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
                </div>
            </div>
                <div class="col-md-6">
                <div class="well text-center">
                    <h2>Seller Account</h2>
                    <h4>Join and get direct and immediate access to buyers</h4>
                    <%= link_to "Sign up as Seller", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
                </div>
</div>