<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>iPhone 7</h3>
        <ul>
        <li>Rose Gold</li>
        <li>128GB</li>
        <li>As new as possible</li>
        <li>Max Price: $300</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">Sell Right Now!</a> <a href="#" class="btn btn-default" role="button">Bid</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>iPhone 7</h3>
        <ul>
        <li>Jet Black</li>
        <li>64 GB</li>
        <li>Absolutely no scratch please</li>
        <li>Max Price: $500</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">Sell Right Now!</a> <a href="#" class="btn btn-default" role="button">Bid</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>iPhone 7 Plus</h3>
        <ul>
        <li>White</li>
        <li>256GB</li>
        <li></li>
        <li>Max Price: $450</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">Sell Right Now!</a> <a href="#" class="btn btn-default" role="button">Bid</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>iPhone 3GS</h3>
        <ul>
        <li>Black</li>
        <li>8GB</li>
        <li>As vintage as possible</li>
        <li>Max Price: $250</li>
        </ul>
        <p><a href="#" class="btn btn-primary" role="button">Sell Right Now!</a> <a href="#" class="btn btn-default" role="button">Bid</a></p>
      </div>
    </div>
  </div>
</div>