<div style="padding: 100px">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">. . .</span>
        <input style="height:50px" type="text" class="form-control" placeholder="What Do You Want To Sell" aria-describedby="basic-addon1">
    </div>
    <div style="margin-left: 40%; margin-top: 50px">
        <form onclick="location.href='/iphone';">
            <button type="button" class="btn btn-default">Go Find Result</button>
        </form>
    </div>
</div>
<br>